<div class="button-row">
  <button
    mat-raised-button
    (click)="getTodos()"
  >
    Get Todo List
  </button>
  <button
    mat-raised-button
    (click)="getTodoByID()"
  >
    Get Todo
  </button>
</div>

<div>
  <ul>
    <li *ngFor="let todo of todoList">
      <mat-checkbox disabled [(ngModel)]="todo.isComplete"></mat-checkbox>
      {{ todo.name }} - {{ todo.timeCreated | date:'medium'}}
    </li>
  </ul>

  <div *ngIf="todo">
      <mat-checkbox disabled [(ngModel)]="todo.isComplete"></mat-checkbox>
      {{ todo.name }} - {{ todo.timeCreated | date:'medium'}}
  </div>
</div>
