<div class="content-container">
  <h2>Initializing these multiple times will duplicate the data.</h2>
  <div class="button-row">
    <button mat-raised-button (click)="addSeedCompanies()">
      Initialize Companies
    </button>
    <button mat-raised-button (click)="addSeedEmployees()">
      Initialize Employees
    </button>
    <button mat-raised-button (click)="addSeedTodoItems()">
      Initialize Todo List
    </button>
  </div>
  <h2>Assign Employees after both Employees and Company collections are created.</h2>
  <div class="button-row">
    <button mat-raised-button (click)="assignEmployeesToCompanies()">
      Assign Employees to Companies
    </button>
  </div>
</div>
