@import '../../../variables.scss';

#nav {
  background-color: transparentize($black, .1);
  color: $white;

  ul, li, a {
    display: flex;
  }
  ul {
    padding: 10px 3vw;
    width: 600px;
    justify-content: space-evenly;
  }
  li {
    margin: 0 1vw;
  }
  a {
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
