<form [formGroup]="registerForm">
  <div>
    <div>
      <mat-form-field>
        <input
          name="email"
          id="email"
          type="text"
          matInput
          placeholder="Email"
          formControlName="email"
          required
        >
        <mat-error *ngIf="email.errors">
          {{ email.errors | firstFormError }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          name="confirmEmail"
          id="confirmEmail"
          type="text"
          matInput
          placeholder="Confirm Email"
          formControlName="confirmEmail"
          required
        >
        <mat-error *ngIf="confirmEmail.errors">
          {{ confirmEmail.errors | firstFormError }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          name="password"
          id="password"
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          required
        >
        <mat-error *ngIf="password.errors">
          {{ password.errors | firstFormError }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button
    class="submit-button"
    type="submit"
    mat-raised-button
    [disabled]="!registerForm.valid"
  >
    Register
  </button>

  <div>
    <div class="password-container">
      <h2>Password Requirements</h2>
      <div class="password-requirements-row">
        <mat-checkbox formControlName="passwordMin">
          Password length
        </mat-checkbox>
        <mat-checkbox formControlName="passwordDigit">
          Contains at least 1 digit
        </mat-checkbox>
        <mat-checkbox formControlName="passwordSpecial">
          Contains at least 1 symbol
        </mat-checkbox>
      </div>
    </div>
  </div>
</form>
