.password-container {
  display: inline-block;
}

h2 {
  margin: 10px 0 !important;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5vh;
}

.password-requirements-row {
  mat-checkbox {
    margin-right: 10px;
  }
}
