<div>
  <h2>RxJS Introduction</h2>
  <ul>
    <li *ngFor="let link of introductionLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Hot Vs Cold Observables</h2>
  <ul>
    <li *ngFor="let link of hotVColdLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Best Practices</h2>
  <ul>
    <li *ngFor="let link of bestPracticesLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Higher Order Observable Operators</h2>
  <ul>
    <li *ngFor="let link of higherOrderLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Pitfalls</h2>
  <ul>
    <li *ngFor="let link of pitfallsLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Subscribing/Async Pipe</h2>
  <ul>
    <li *ngFor="let link of subscribingLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Error Handling</h2>
  <ul>
    <li *ngFor="let link of errorHandlingLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Angular Internal Observables</h2>
  <ul>
    <li *ngFor="let link of angularInternalLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h2>Advanced RxJS Structures</h2>
  <ul>
    <li *ngFor="let link of advancedStructuresLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
</div>
