<div class="content-container">
  <h3 class="top-header">RxJS Introduction</h3>
  <ul>
    <li *ngFor="let link of introductionLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Hot Vs Cold Observables</h3>
  <ul>
    <li *ngFor="let link of hotVColdLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Best Practices</h3>
  <ul>
    <li *ngFor="let link of bestPracticesLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Higher Order Observable Operators</h3>
  <ul>
    <li *ngFor="let link of higherOrderLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Pitfalls</h3>
  <ul>
    <li *ngFor="let link of pitfallsLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Subscribing/Async Pipe</h3>
  <ul>
    <li *ngFor="let link of subscribingLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Error Handling</h3>
  <ul>
    <li *ngFor="let link of errorHandlingLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Angular Internal Observables</h3>
  <ul>
    <li *ngFor="let link of angularInternalLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
  <h3>Advanced RxJS Structures</h3>
  <ul>
    <li *ngFor="let link of advancedStructuresLinks">
      <a [href]="link.path">{{ link.title }}</a>
    </li>
  </ul>
</div>
