<div class="button-row">
  <button
    mat-raised-button
    (click)="getForkJoin()"
  >
    Log forkJoin
  </button>
  <button
    mat-raised-button
    (click)="getCombineLatest()"
  >
    Log combineLatest
  </button>
  <button
    mat-raised-button
    (click)="getPairwise()"
  >
    Log pairwise
  </button>
  <button
    mat-raised-button
    (click)="getConcatMap()"
  >
    Log concatMap
  </button>
  <button
    mat-raised-button
    (click)="getMergeMap()"
  >
    Log mergeMap
  </button>
  <button
    mat-raised-button
    (click)="getSwitchMap()"
  >
    Log switchMap
  </button>
  <button
    mat-raised-button
    (click)="getExhaustMap()"
  >
    Log exhaustMap
  </button>
</div>
<div class="button-row">
  <button mat-raised-button (click)="updateCompanyConcat()">
		Update Company - concatMap
	</button>
	<button mat-raised-button (click)="updateCompanyMerge()">
		Update Company - mergeMap
	</button>
	<button mat-raised-button color="warn" (click)="resetCompanyNames()">
		Reset
	</button>
</div>

<form autocomplete="off" [formGroup]="form">
  <div>
    <mat-form-field>
      <input
        name="switchMap"
        placeholder="switchMap search"
        matInput
        formControlName="switchMap"
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        name="exhaustMap"
        placeholder="exhaustMap search"
        matInput
        formControlName="exhaustMap"
      >
    </mat-form-field>
  </div>
</form>
<div *ngIf="(companyListExhaust$ | async) as companyListExhaust">
  companyListExhaust:
    <div *ngFor="let company of companyListExhaust">
      {{ company.companyName }}
    </div>
</div>
<div *ngIf="(companyListSwitch$ | async) as companyListSwitch">
  companyListSwitch:
  <div *ngFor="let company of companyListSwitch">
    {{ company.companyName }}
  </div>
</div>
<div *ngIf="companyList">
	<ul>
		<li *ngFor="let company of companyList">
			<mat-checkbox disabled [(ngModel)]="company.isSelected"></mat-checkbox>
			{{ company.companyName }}
		</li>
	</ul>
</div>
