<button
  mat-raised-button
  (click)="getForkJoin()"
>
  See forkJoin
</button>
<button
  mat-raised-button
  (click)="getCombineLatest()"
>
  See combineLatest
</button>
<button
  mat-raised-button
  (click)="getPairwise()"
>
  See pairwise
</button>
<button
  mat-raised-button
  (click)="getConcatMap()"
>
  See concatMap
</button>
<button
  mat-raised-button
  (click)="getMergeMap()"
>
  See mergeMap
</button>
<button
  mat-raised-button
  (click)="getSwitchMap()"
>
  See switchMap
</button>
<button
  mat-raised-button
  (click)="getExhaustMap()"
>
  See exhaustMap
</button>
