<div class="button-row">
  <button
    mat-raised-button
    (click)="getForkJoin()"
  >
    Log forkJoin
  </button>
  <button
    mat-raised-button
    (click)="getCombineLatest()"
  >
    Log combineLatest
  </button>
  <button
    mat-raised-button
    (click)="getPairwise()"
  >
    Log pairwise
  </button>
  <button
    mat-raised-button
    (click)="getConcatMap()"
  >
    Log concatMap
  </button>
  <button
    mat-raised-button
    (click)="getMergeMap()"
  >
    Log mergeMap
  </button>
  <button
    mat-raised-button
    (click)="getSwitchMap()"
  >
    Log switchMap
  </button>
  <button
    mat-raised-button
    (click)="getExhaustMap()"
  >
    Log exhaustMap
  </button>
</div>
<div *ngIf="companyList">
	<ul>
		<li *ngFor="let company of companyList">
			<mat-checkbox disabled [(ngModel)]="company.isSelected"></mat-checkbox>
			{{ company.companyName }}
		</li>
	</ul>
</div>
