<div class="button-row">
  <button mat-raised-button (click)="getForkJoin()">
    forkJoin
  </button>
  <button mat-raised-button (click)="getCombineLatest()">
    combineLatest
  </button>
  <button mat-raised-button (click)="getPairwise()">
    pairwise
  </button>
  <button mat-raised-button (click)="getConcatMap()">
    concatMap
  </button>
  <button mat-raised-button (click)="getMergeMap()">
    mergeMap
  </button>
  <button mat-raised-button (click)="getSwitchMap()">
    switchMap
  </button>
  <button mat-raised-button (click)="getExhaustMap()">
    exhaustMap
  </button>
</div>
<div class="button-row">
  <button mat-raised-button (click)="updateCompanyConcat()">
		concatMap Update
	</button>
	<button mat-raised-button (click)="updateCompanyMerge()">
		mergeMap Update
	</button>
	<button mat-raised-button color="warn" (click)="resetCompanyNames()">
		Reset
	</button>
</div>

<div class="container">
  <div>
    <form autocomplete="off" [formGroup]="form">
      <div>
        <mat-form-field>
          <input
            name="switchMap"
            placeholder="switchMap Search"
            matInput
            formControlName="switchMap"
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
            name="exhaustMap"
            placeholder="exhaustMap Search"
            matInput
            formControlName="exhaustMap"
          >
        </mat-form-field>
      </div>
    </form>
    <div *ngIf="companyListExhaust">
      companyListExhaust:
        <div *ngFor="let company of companyListExhaust">
          {{ company.companyName }}
        </div>
    </div>
    <div *ngIf="companyListSwitch">
      companyListSwitch:
      <div *ngFor="let company of companyListSwitch">
        {{ company.companyName }}
      </div>
    </div>
  </div>
  <div class="company-container" *ngIf="companyList?.length">
    <h3>Companies:</h3>
    <ul>
      <li *ngFor="let company of companyList">
        <mat-checkbox disabled [(ngModel)]="company.isSelected"></mat-checkbox>
        {{ company.companyName }}
      </li>
    </ul>
  </div>
</div>
